*{
    margin: 0;
    padding: 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    background: #d35649;
    padding: 2%;
}
#logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
h2{
    color: #eee;
}
.nav-link{
    color: #eee;
    text-decoration: none;
}
@media (max-width:768px) {
    .nav-link{
        display: inline-block;
    }
    
}
.nav-link:hover{
    color:#98a5a5;
}
.fas:hover{
    color:#98a5a5;
}

/**************section 1*********/
#Section1{
    background: url("../Assets/Images/group-1.jpg");
    background-size: cover;
    height: 60vh;
    background-position-y: -250px;
    text-align: center;
    
}
#text{
    text-align: center;
    color: white;
    padding-top: 5%;
}
#text >p{
    font-size: 2rem;
    text-shadow: 2px 1px 5px black;
    
}
#Search{
    
    text-align: center;
    width: 100%;
    padding: 0 25%;
    border-radius: 5px;
    
}
#Search form{
    
    background-color:rgba(255, 255, 255, 0.562);
    padding: 3%;
    
}
#Search form input{
    width: 85%;
}
#Search form button{
    background-color: #d35649;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
#Work{
    background-color: white;
    width: 7%;
    border: none;
    border-radius: 5px;
    margin-top: 2%;
    }
#icon:hover{
    color: #98a5a5;
}

    /******************section2***************************/
.container-fluid {
    margin: 0;
    width: 100%;
}
.container{
    width: 100%;
    margin: 0;
}
.col-md-12 p {
    text-align: center;
    color: #d35649;
    font-size: 2rem;
    padding:2% 0;
}
.col-md-6{
    text-align: center;
    font-size: 0.9rem;
    padding: 0 3%;
    
}

.col-md-6 p{
    color:black
}
@media (max-width:768px){
    .no_mobile{
        display: none;
    }
}

/***************Section3*********************/
.orangee{
    background-color: #d35649;
    display: flex;
}
.lettre{
    width: 70%;

}

.image_rond{
    width: 30%;
}
.image_rond img{
    border-radius: 100%;
    width: 90%;
    padding: 5%;
}
 
.lettre h3{
    padding: 5%;
    color: white;
}
.lettre p{
    padding: 0 5%;
    font-size: 1rem;
}
.lettre button {
    margin: 5%;
    background-color: #eee;
    color: #d35649;
    padding: 0.5rem;
    border: none;
}

#gris{
    background-color: #98a5a5;
}
#bleu{
    background-color: aqua;
}

/****************FOOTER******************/
footer{
    background-color: black;
}

footer #foot01{
    display: flex;
    justify-content: center;
    padding: 3%;
    
}
.foot1{
    width: 35%;
}
.foot1 ul{
    display: flex;
    list-style-type: none;
    width:auto;
    color: white;
}
.foot1 ul li{
    padding: 5%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
#maps{
    display: grid;
    align-items: center;
    justify-items: center;
    border: 3px solid white;
    border-radius: 100%;
    padding: 0;
    width: 10rem;
    
}

#foot02 div div article{
    padding:0;
    text-align: center;
}

h4 {
    color: white;
    padding:5%;
}
p{
    color: white;
    font-size: 0.8rem;
}
a{
    color: #d35649;
    text-decoration: none;
}
#group{
    width: 50%;
    margin: 0 20%;
}

#foot03{
    background-color:#98a5a5;
}
#reseaux ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
#reseaux ul li{
    padding: 1%;
}

.foot03 .col-md-2 p{
    padding: 1% 0;
}